.App {
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; 
  flex-direction: row;
}

@media(max-width : 800px) {
  .App {
    flex-direction: column;
  }
}
